.footer {
    margin:0;
}

// a{
// text-decoration: none;
// }
.i{
    width: 20px;
}
h4{
    margin:5px;   
}
.contactbutton {
    margin:5px;
    padding: 5px;
    width: 20%;
}
.tocopy{
    height:auto!important;
align-items: start;
justify-content: start;
margin-right: 5px;
}

.tocopybuttton{
    width: 20%;
    margin: 2px;
}