.footer {
    margin:0;
}

// a{
// text-decoration: none;
// }
.i{
    width: 20px;
}
h4{
    margin:5px;   
}
.contactbutton {
    margin:5px;
    padding: 2px;
    width: 100%;
}
.tocopy{
    height:auto!important;
align-items: start;
justify-content: start;
margin-right: 5px;
}

.tocopybuttton{
    width: 20%;
    margin: 2px;
}

.box-anim{
  animation: slideIn 1s !important;  
}
@keyframes slideIn {
0%{transform: translateY(-100%);}
50%{ transform: translateY(-50);}
100%{transform: translateY(0);}    
}