

.card{
    width: auto;
    margin-bottom:30px;
}
.project-container{
    width: auto;
}

.body-whole{
    margin-top: 40px !important;
    margin-left: 20px;
    padding-bottom: 50px;
    display: grid;
}
.leftColumn{
    margin-left: 20px !important;
    max-height: 100%; 
    line-height: 100%;
}
