@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.randomLetters{
    font-family: Anta, sans-serif;
    font-size: 50px;
    font-weight:bolder;
    margin-bottom: 0;
}

.container-fluid{
    margin-top:0px;
}

.navbar {
    height: 60px;
    margin:0px; 
    font-family: Anta,sans-serif;
}
.nav-item{
    font-size: 20px;}