.minesdisplay{
    width: 80%;
    height:80vh;
    margin:20px;
    padding: 20px;
    padding-left: 12px;
    position: fixed !important ;
    left:10vw;
    top: 7vh;
    z-index: 10;
    /* From https://css.glass */
background: rgba(11, 7, 45, 0.3);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.6px);
-webkit-backdrop-filter: blur(7.6px);
}